.formControl {
    margin-bottom: .5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    display: block;
}

input[type=text],
input[type=password],
input[type=email] {
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: large;
    padding: 5px;
    outline: none;
    flex-grow: 1;
}

input:focus {
    border-color: cadetblue;
}