.formControl {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
}

select {
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: large;
    padding: 5px;
    outline: none;
    background: none;
    flex-grow: 1;
}

select:focus {
    border-color: cadetblue;
}